  
{% extends "./base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}


<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h2 fw-bold">QUALITY CLOTHES FOR DIFFERENT SIZES</h1>
        <p class="lead text-muted">Whatever the occasion, you’ll find the perfect cloths for you: from traditional cotton shirts to modern female with contemporary cuts and designs. Our range includes formal, casual and floral shirts – all made with our signature craftmanship.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Make an account</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">New Arrivals</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for product in products %}

        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid" width="400px" alt="Responsive image" src="{{ product.image.url }}">
            <div class="card-body">
              <p class="text-center">
                <a class="text-dark text-decoration-none text-muted" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
              </p>  
              <p class="card-text text-center">
                <a class="text-dark text-decoration-none ">€{{ product.price }}</a>
              </p>
             
            </div>
          </div>
        </div>

        {% endfor %}
        
      </div>
    </div>
  </div>

  
</main>

{% endblock %}